{% comment %}
  Renders GG-social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'gg-social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="gg-list-unstyled gg-list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          <img 
            src="{{ 'gg-icon-facebook.png' | asset_url }}"
            alt="{{ 'general.social.links.facebook' | t }}"
            width="20"
            height="20"
            loading="lazy"
          >
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          <img 
            src="{{ 'gg-icon-instagram.png' | asset_url }}"
            alt="{{ 'general.social.links.instagram' | t }}"
            width="20"
            height="20"
            loading="lazy"
          >
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          <img 
            src="{{ 'gg-icon-youtube.png' | asset_url }}"
            alt="{{ 'general.social.links.youtube' | t }}"
            width="20"
            height="20"
            loading="lazy"
          >
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          <img 
            src="{{ 'gg-icon-tiktok.png' | asset_url }}"
            alt="{{ 'general.social.links.tiktok' | t }}"
            width="20"
            height="20"
            loading="lazy"
          >
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="gg-list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="gg-link gg-list-social__link">
        <span class="gg-svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="gg-visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
