{{ 'gg-double-image-banner.css' | asset_url | stylesheet_tag }}

<div class="double-banner section-{{ section.id }}">
  {%- for block in section.blocks -%}
    <div class="double-banner__item" {{ block.shopify_attributes }}>
      {%- if block.settings.image != blank -%}
        <div class="double-banner__image-wrapper">
          <img
            srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
              {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
            src="{{ block.settings.image | image_url: width: 990 }}"
            sizes="50vw"
            alt="{{ block.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.width }}"
            class="double-banner__image"
          >
          <div class="double-banner__content">
            {%- if block.settings.subtitle != blank -%}
              <p class="double-banner__subtitle">{{ block.settings.subtitle }}</p>
            {%- endif -%}
            {%- if block.settings.title != blank -%}
              <h2 class="double-banner__title">{{ block.settings.title }}</h2>
            {%- endif -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}" class="double-banner__button">
                {{ block.settings.button_label }}
                <span class="icon-arrow">
                  <svg id="_图层_2" data-name="图层 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.22 12.64">
                    <g id="_图层_1-2" data-name="图层 1">
                      <path d="M10.72,5.46c.67,.39,.67,1.35,0,1.73L1.5,12.51c-.67,.38-1.5-.1-1.5-.87V1C0,.23,.83-.25,1.5,.14L10.72,5.46Z"/>
                    </g>
                  </svg>
                </span>
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "GG-双图片横幅",
  "tag": "section",
  "class": "section",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "banner",
      "name": "横幅",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "图片"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "副标题",
          "default": "副标题"
        },
        {
          "type": "text",
          "id": "title",
          "label": "主标题",
          "default": "主标题"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "按钮文字",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "按钮链接"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GG-双图片横幅",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %} 
