<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'gg-component-mega-menu.css' | asset_url }}">
{%- endif -%}

{% if template == 'index' %}
  <style>
    .section-header{margin-bottom:0}.header-wrapper--border-bottom{border-bottom:.1rem solid rgba(255,255,255,.08)}.overflow-hidden-desktop .header-wrapper,.overflow-hidden-tablet .header-wrapper{position:initial;width:initial;background:initial;color:initial;background:var(--gradient-background)}.header-wrapper summary.header__menu-item+ul span,.header-wrapper summary.header__menu-item+ul svg,.overflow-hidden-desktop .header-wrapper .disclosure__button svg,.overflow-hidden-desktop .header-wrapper .disclosure__button>span,.overflow-hidden-desktop .header-wrapper .list-menu span,.overflow-hidden-desktop .header-wrapper a svg,.overflow-hidden-desktop .header-wrapper details>span,.overflow-hidden-desktop .header-wrapper h1.header__heading span.h2,.overflow-hidden-desktop .header-wrapper summary svg,.overflow-hidden-desktop details[open]>.header__menu-item,.overflow-hidden-tablet .header-wrapper .disclosure__button svg,.overflow-hidden-tablet .header-wrapper .disclosure__button>span,.overflow-hidden-tablet .header-wrapper .list-menu span,.overflow-hidden-tablet .header-wrapper a svg,.overflow-hidden-tablet .header-wrapper details>span,.overflow-hidden-tablet .header-wrapper h1.header__heading span.h2,.overflow-hidden-tablet .header-wrapper summary svg,.overflow-hidden-tablet details[open]>.header__menu-item,.scrolled-past-header .header-wrapper .disclosure__button svg,.scrolled-past-header .header-wrapper .disclosure__button>span,.scrolled-past-header .header-wrapper .list-menu span,.scrolled-past-header .header-wrapper a svg,.scrolled-past-header .header-wrapper details>span,.scrolled-past-header .header-wrapper h1.header__heading span.h2,.scrolled-past-header .header-wrapper summary svg,.scrolled-past-header details[open]>.header__menu-item{color:rgba(var(--color-foreground),.75)!important}.header-wrapper{position:absolute;width:100%;background:0 0;color:#fff}.header-wrapper .disclosure__button svg,.header-wrapper .disclosure__button>span,.header-wrapper .list-menu span,.header-wrapper a svg,.header-wrapper details>span,.header-wrapper h1.header__heading span.h2,.header-wrapper summary svg,details[open]>.header__menu-item{color:#fff!important}.scrolled-past-header .header-wrapper{position:absolute;width:100%;background:0 0;color:rgb(var(--color-foreground))!important}.header-localization .disclosure .localization-form__select:hover{text-decoration-color:white}
  </style>
{% endif %}

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}




<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}


{% style %}
/* SWYM 收藏图标基础样式 */
.swym-wishlist {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    padding: 0;
    margin-right: 1rem;
    text-decoration: none;
}

/* 移除focus状态的下划线 */
.swym-wishlist:focus {
    text-decoration: none;
    outline: none;
}

i.icon-swym-wishlist {
    font-family: 'swym-font';
    font-style: normal;
    vertical-align: middle;
    transition: color .3s ease;
}

i.icon-swym-wishlist:after {
    content: '';
    font-size: 24px;
    line-height: 1;
    text-align: center;
    display: inline;
}

/* SWYM ready状态 */
.swym-ready i.icon-swym-wishlist:after {
    content: '\f004';
}

/* 首页状态 */
{% if template == 'index' %}
    .header-wrapper .icon-swym-wishlist {
        color: white !important;
    }
    
    div.scrolled-past-header .icon-swym-wishlist {
        color: rgba(var(--color-foreground), .75) !important;
    }
{% else %}
    /* 非首页状态 */
    .header-wrapper .icon-swym-wishlist {
        color: rgba(var(--color-foreground), .75) !important;
    }
{% endif %}

/* 交互状态 */
.swym-wishlist:hover .icon-swym-wishlist {
    opacity: 0.7;
}

/* 菜单展开时的状态 */
.header__menu-item[aria-expanded=true] ~ .swym-wishlist .icon-swym-wishlist,
.header__menu-item:hover ~ .swym-wishlist .icon-swym-wishlist {
    color: rgba(var(--color-foreground), .75) !important;
}

/* 购物车图标基础样式 */
.header__icon--cart {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    padding: 0;
    text-decoration: none;
}

.header__icon--cart .svg-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
}

.header__icon--cart svg {
    width: 24px;
    height: 24px;
    transition: fill .3s ease;
}

/* 首页状态 */
{% if template == 'index' %}
    .header-wrapper .header__icon--cart svg {
        fill: white !important;
    }
    
    div.scrolled-past-header .header__icon--cart svg {
        fill: rgba(var(--color-foreground), .75) !important;
    }
{% else %}
    /* 非首页状态 */
    .header-wrapper .header__icon--cart svg {
        fill: rgba(var(--color-foreground), .75) !important;
    }
{% endif %}

/* 交互状态 */
.header__icon--cart:hover .svg-wrapper {
    opacity: 0.7;
}

/* 菜单展开时的状态 */
.header__menu-item[aria-expanded=true] ~ .header__icon--cart svg,
.header__menu-item:hover ~ .header__icon--cart svg {
    fill: rgba(var(--color-foreground), .75) !important;
}

/* 移除focus状态的下划线和outline */
.header__icon--cart:focus {
    text-decoration: none;
    outline: none;
}

/* 购物车数量气泡样式 */
.cart-count-bubble {
    position: absolute;
    top: 8px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: white;
    background: rgba(var(--color-foreground), .75);
    border-radius: 9px;
}
{% endstyle %}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                <?xml version="1.0" encoding="UTF-8"?>
                  <svg id="_图层_2" data-name="图层 2" xmlns="http://www.w3.org/2000/svg" width="152px" height="40px" viewBox="0 0 141.09 39.48">
                    <g id="_图层_1-2" data-name="图层 1">
                      <g>
                        <polygon points="0 24.22 6.36 27.89 34.47 8.2 20.28 0 0 24.22"/>
                        <polygon points="34.47 21.49 34.47 10.25 25.68 16.41 34.47 21.49"/>
                        <polygon points="7.97 28.81 26.43 39.48 16.75 22.67 7.97 28.81"/>
                        <polygon points="27.24 37.53 31.53 27.99 24.56 32.87 27.24 37.53"/>
                        <path d="M46.96,16.75l-4.91,10.58h3.95l.6-1.49h4.37l.58,1.49h4.1l-4.74-10.58h-3.95Zm.63,6.58l1.23-3.09,1.2,3.09h-2.43Z"/>
                        <polygon points="60.26 16.75 56.41 16.75 56.41 27.33 65.11 27.33 65.11 24.42 60.26 24.42 60.26 16.75"/>
                        <path d="M75.01,17.74c-.83-.66-2-.99-3.52-.99h-5.46v10.58h3.85v-2.75h1.61c1.52,0,2.69-.35,3.52-1.06,.83-.71,1.25-1.7,1.25-2.98,0-1.21-.42-2.14-1.25-2.8Zm-2.75,3.85c-.23,.23-.55,.34-.97,.34h-1.41v-2.52h1.41c.42,0,.74,.11,.97,.32,.23,.22,.34,.52,.34,.91,0,.41-.11,.72-.34,.95Z"/>
                        <path d="M80.48,16.75l-4.91,10.58h3.95l.6-1.49h4.37l.58,1.49h4.1l-4.73-10.58h-3.96Zm.63,6.58l1.23-3.09,1.2,3.09h-2.43Z"/>
                        <path d="M100.05,22.54c.32-.57,.47-1.23,.47-2,0-1.21-.43-2.14-1.29-2.8s-2.09-.99-3.67-.99h-5.63v10.58h3.85v-2.75h1.44l1.39,2.75h4.35l-2.29-3.44c.61-.33,1.06-.78,1.38-1.35Zm-3.52-.95c-.23,.23-.55,.34-.97,.34h-1.78v-2.52h1.78c.42,0,.74,.11,.97,.32,.23,.22,.34,.52,.34,.91,0,.41-.12,.72-.34,.95Z"/>
                        <path d="M106.62,19.78c.4-.23,.84-.34,1.33-.34s.98,.1,1.5,.31c.53,.21,.98,.49,1.37,.84l2.17-2.4c-.62-.5-1.39-.91-2.3-1.21s-1.82-.45-2.73-.45c-1.25,0-2.37,.24-3.37,.71s-1.78,1.13-2.34,1.97-.85,1.78-.85,2.83,.27,2,.81,2.84,1.29,1.5,2.25,1.98,2.04,.72,3.25,.72c.83,0,1.72-.13,2.68-.39s1.92-.59,2.57-1v-4.42h-4.41v2.11h.92c-.08,.31-.3,.56-.62,.65-.33,.09-.62,.14-.88,.14-.5,0-.95-.11-1.34-.34-.4-.23-.71-.54-.94-.94s-.34-.85-.34-1.35,.11-.94,.33-1.33c.23-.4,.54-.71,.94-.93Z"/>
                        <path d="M118.16,16.75l-4.91,10.58h3.95l.6-1.49h4.37l.58,1.49h4.1l-4.73-10.58h-3.96Zm.64,6.58l1.23-3.09,1.2,3.09h-2.43Z"/>
                        <polygon points="131.47 16.75 127.62 16.75 127.62 27.33 136.32 27.33 136.32 24.42 131.47 24.42 131.47 16.75"/>
                        <rect x="137.24" y="16.75" width="3.85" height="10.58"/>
                      </g>
                    </g>
                  </svg>
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'gg-header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

      <a href="#swym-wishlist" class="swym-wishlist">
        <i aria-hidden="true" focusable="false" role="presentation" class="icon icon-swym-wishlist"></i>
      </a>
      
      {% comment %}
        {% render 'header-search', input_id: 'Search-In-Modal' %}
      {% endcomment %}
      {% comment %} 购物车 {% endcomment %}

      
    
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          <span class="svg-wrapper">{{'icon-cart-empty-ex.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{'icon-cart-empty-ex.svg' | inline_asset_content }}</span>
        {% endif %}
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
        <div class="cart-count-bubble">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">{{ cart.item_count }}</span>
          {%- endif -%}
          <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        </div>
      {%- endif -%}
    </a>

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
      {%- endcase -%}
    {%- endfor -%}

    {% comment %} 登录 {% endcomment %}
    {% comment %} {%- if shop.customer_accounts_enabled -%}
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
        rel="nofollow"
      >
        {%- if section.settings.enable_customer_avatar -%}
          <account-icon>
            {%- if customer and customer.has_avatar? -%}
              {{ customer | avatar }}
            {%- else -%}
              <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
            {%- endif -%}
          </account-icon>
        {%- else -%}
          <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
        {%- endif -%}
        <span class="visually-hidden">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </span>
      </a>
    {%- endif -%}  {% endcomment %}

    {%- if shop.customer_accounts_enabled -%}
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header__icon header__icon--account link focus-inset login-button{% if section.settings.menu != blank %} small-hide{% endif %}"
        rel="nofollow"
      >
        <span class="login-text">
          {%- if customer -%}
            {{ customer.first_name }}
          {%- else -%}
            {{ 'customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}


    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
 

  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();

      const headerInlineMenu = Array.from(document.querySelectorAll('.header__menu-item'))
      headerInlineMenu.forEach(item => {
        const detailsElement = item.closest('details'); 
        const megaMenuContent = detailsElement.querySelector('.mega-menu__content'); 
        item.addEventListener('mouseenter', () => {
          this.header.classList.add('scrolled-past-header');
        });
        item.addEventListener('mouseleave', (event) => {
          const isInMegaMenu = megaMenuContent && megaMenuContent.contains(event.relatedTarget);
          const isInHeaderMenu = headerInlineMenu.some(menuItem =>
            menuItem.contains(event.relatedTarget)
          );
          const hasExpandedMenu = headerInlineMenu.some(menuItem => 
            menuItem.getAttribute('aria-expanded') === 'true'
          );
          console.log('item', item.getAttribute('aria-expanded'))
          if (!isInMegaMenu && !isInHeaderMenu && !hasExpandedMenu) {
            this.header.classList.remove('scrolled-past-header'); // 移除类名
          }
        });
      })

      // 全局监听鼠标移出事件
      document.addEventListener('click', (event) => {
        const isInHeaderMenu = Array.from(headerInlineMenu).some(menuItem =>
          menuItem.contains(event.target)
        );

        const isInAnyMegaMenu = Array.from(headerInlineMenu).some(menuItem => {
          const megaMenuContent = menuItem.querySelector('.mega-menu__content');
          return megaMenuContent && megaMenuContent.contains(event.target);
        });

        // 如果点击的位置既不在 header__menu-item，也不在任何 mega-menu__content 中
        if (!isInHeaderMenu && !isInAnyMegaMenu) {
          this.header.classList.remove('scrolled-past-header');
        }
      });
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "menu_image",
      "name": "菜单图片",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "菜单标题",
          "info": "输入要匹配的菜单标题，例如：'Clothing'"
        },
        {
          "type": "image_picker",
          "id": "menu_image",
          "label": "菜单图片"
        },
        {
          "type": "url",
          "id": "menu_link",
          "label": "图片链接（可选）"
        }
      ]
    }
  ]
}
{% endschema %}
